{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">oh-my-zsh</span>
                    </div>

                    <div class="message">
                        <span class='prompt'><span class='user'>{{ common.alias }}</span><span class="at">@</span><span
                                class="path">/home/{{ common.first_name|lower }}{{ common.last_name|lower }}/</span>><span
                                class="caret">$</span></span>
                        <span class="typed"></span>
                        <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div style="padding-top: 250px;" >

    </div>
    <div class="wrapper scroll-wrapper">
         <div class="top-text">
                <img src="static/images/profile-pic.png" alt="Profile Image" style="border-radius: 60%; width: 300px; height: 300px; object-fit: cover; float:left; margin-left: 10 px;">
<!--            </div>-->

<!--        <div class="top-text">-->
            <p class="text-title desktop-view">{{ common.first_name }} {{ common.last_name }}</p>
            <p class="text-title mobile-view">{{ common.first_name }} {{ common.last_name }}</p>

        </div>
         <div class="middle-text">
             <p class="text-content">Hello There !!</p>
                    <p class="text-content">I'm Atharva Joshi, a dedicated data science enthusiast currently pursuing a Master of Science in Data Science at Indiana University, where I'm honing my expertise in Python, R, machine learning, and artificial intelligence. With a strong foundation in applied machine learning, data mining, and bioinformatics, I'm adept at transforming complex datasets into actionable insights.</p>
                    <p class="text-content">Professionally, I've excelled as a Machine Learning Intern at DOCK-Y TECH LIMITED, where I pioneered advanced object detection technologies and significantly enhanced model accuracy through convolutional neural networks. My tenure at DELOITTE involved revitalizing Salesforce applications, and enhancing operational efficiencies significantly across various sectors.</p>
                    <p class="text-content">I'm passionate about leveraging my technical skills to drive innovation and improve business outcomes. I've successfully patented a cutting-edge crowd analysis system, underscoring my capability to lead and innovate in the tech space.</p>
                    <p class="text-content">I'm eager to contribute my expertise in data science and machine learning to your team, and I am excited about the opportunities to create significant impacts together.</p>
              <p class="text-content"><a href="timeline">For more about me, Take a look at my Career Timeline here.</a></p>
             <p class="text-content">Let's get in touch!</p>

             <div class="social-icons">
                <a target="_blank" href="https://github.com/atharvamj">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/atharva-joshi-0806/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
                <a target="_blank" href="https://www.kaggle.com/atharvmj082k">
                    <img class="title-logo" src="static/images/Kaggle.png">
                </a>
                   <a target="_blank" href="mailto:joshiam@iu.edu">
                    <img class="title-logo" src="static/images/icons8-mail-50.png">
                </a>
            </div>

                    <br>
                </div>
    </div>
</div>
{% endblock %}
